* {
    margin: 0;
    padding: 0;
}

#navbarNav {
    color: black;
    font-size: 20px;
    font-style: bold;
    justify-content: end;
}

.card {
    padding: 30px;
    margin: 20px;
    transition: 2s;
}

.card:hover {
    transform: translateY(-15px);
}

.card-img-top {
    width: 100px;
    height: 250px;
}

.logo {
    width: 100px;
    cursor: pointer;
}

.sitename {
    text-decoration: none;
}